[env]
[env._]
# https://mise.jdx.dev/mise-cookbook/presets.html
[env._.python]
[env._.python.venv]
path = ".venv"
# create = true

[tools]
# specify single or multiple versions

# send arbitrary options to the plugin, passed as:
# RTX_TOOL_OPTS__VENV=.venv
# RTX_TOOL_OPTS__DEFAULT_PACKAGES__0=ansible
# RTX_TOOL_OPTS__DEFAULT_PACKAGES__1=pipenv
# python = { version = '3.10', venv = '.venv', default_packages = ['ansible', 'pipenv'] }
python = { version = '3.11', virtualenv = '.venv' }

[alias]
# specify a custom repo url
# note this will only be used if the plugin does not already exist
python = 'https://github.com/asdf-community/asdf-python'

[settings] # project-local settings
verbose = false

#https://mise.jdx.dev/mise-cookbook/python.html
python.uv_venv_auto = true
