---
- name: My MacOS Configuration Playbook
  hosts: localhost
  connection: local
  
  vars_files:
    - default.config.yml

  pre-tasks:
    - name: Update and Upgrade brew
      community.general.homebrew:
        update_homebrew: true
        upgrade_all: true
    - name: Upgrade all casks with greedy option
      community.general.homebrew_cask:
        upgrade_all: true
        greedy: true

  tasks:
    - name: Install Homebrew packages
      community.general.homebrew:
    - debug:
        msg: "{{ output.stdout_lines }}"


